doctype html
html(lang='en')
	head
		block title
			title Let's Learn Passive Income Generation Together
		meta(name='author', content='Brooks Patton')
		meta(name='description', content='A website and blog where we can learn how to create passive income streams together')
		meta(name='keywords', content='passive income,learning,blog')
		block links
	body
		block body
		block scripts